
/* First Column - My Pic*/

.heropage{
    width:100%;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    height: 737px;
}


.my-pic-container{
    padding: 70px 50px 20px 130px;
    background-image: url('/images/background.png');
    background-size: cover;
    margin-bottom: 100px;
    height: 680px;
    margin-left: -30px;
}

.my-pic-container-1{
    height: 600px;
    width: 100%;
    border-radius: 45px;
    position: relative;
}

.my-pic-class{
    height: 550px;
    width: 340px;
    margin-left: 40px;
    margin-top: 24px;
    border-radius: 45px;
    box-shadow: 5px 5px 20px 1px,
                -9px -9px 60px 1px;
}

/* Social Info*/

.my-social-info{
    position: absolute;
    right:24px;
    top:30px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:60px;
    height:270px;

}


.btn{
    padding: 0;
    width:50px;
    height:46px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-1{
    cursor: auto;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    height:17px;
  }

.bar {
    width: 26px; 
    height: 3px; 
    background-color: #fff;
    border-radius: 90px;
    transition: all 0.5s ease-in-out ; 
}


.btn .row{
    padding-left:13px ;
}


.row:hover .bar:first-child {
    width:14px;
    transform: translateX(12px) translateY(2px) rotate(40deg);
}

.row:hover .bar:last-child {
    width:14px;
    transform: translateX(12px) translateY(-3px) rotate(-40deg);
}


.row-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    height:17px;
  }

.bar-1 {
    width: 26px; 
    height: 3px; 
    background-color: #fff;
    border-radius: 90px; 
    transition: all 0.5s; 
}


.btn .row-1{
    padding-left:13px ;
}


.row-1:hover .bar-1:last-child {
    width:14px;
    transform:translateY(-2px)  rotate(40deg);
}


.row-1:hover .bar-1:first-child {
    width:14px;
    transform:translateY(2px) rotate(-40deg);
}



.insta-icon{
    transition:opacity 0.5s ease-in-out,transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    height:46px;
    border-radius: 50%;
    padding-left: 0px;
}

.insta-icon-1{
    height:46px;
    transition: opacity 0.6s ease-in-out,transform 0.9s ease-in-out;
}

.LL-icon{
    transition:opacity 0.5s ease-in-out,transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(-200%);
    padding-left: 2px;
    height:37px;
    border-radius: 50%;
}

.LL-icon-1{
    height:37px;
    transition:opacity 0.8s ease-in-out,transform .9s ease-in-out;
}

.git-icon{
    transition:opacity 0.5s ease-in-out,transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(-400%);
    pointer-events: none;
    height:46px;
    border-radius: 50%;
    padding-left: 0;
}

.git-icon-1{
    height:48px;
    transition: opacity 0.9s ease-in-out,transform 0.9s ease-in-out;
}


/* second Column - About me*/

.about-me{
    background-color: black;
    height: 680px;
}

.about-me-1{
    text-align:center;
    width: 700px;
    margin-left: 150px;
    margin-top: 250px;
}

.about-me-1 h1{
    font-family:'Protest Strike', sans-serif;
    word-spacing: 4px;
    font-size: 48px;
    font-weight: bolder;
    color: aqua;
}

.about-me-1 h2{
    font-family:'Protest Revolution', sans-serif;
    font-size: 48px;
    margin-top: 8px;
    color: hsl(0, 0%, 44%);
}

.about-me-1 p{
    margin-top: 10px;
    font-size: 28PX;
    font-weight: bold;
    color: rgb(231, 231, 231);
    text-align: left;
}